name: Dataspammer Functionality Test

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read
  
jobs:
  Debug-Test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Verify Git Installation
        run: |
          git --version

      - name: Clone Repository and Checkout PR Branch
        run: |
          git clone https://github.com/PIRANY1/DataSpammer
          cd DataSpammer
          git fetch origin ${{ github.event.pull_request.head.ref }}
          git checkout ${{ github.event.pull_request.head.ref }}

      - name: Run DataSpammer Debug Test
        run: |
          cd DataSpammer
          cmd.exe /c ${{ github.workspace }}\DataSpammer\dataspammer.bat debugtest

      - name: Install Scoop Bucket and Setup App
        uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          buckets: https://github.com/PIRANY1/dataspammer-bucket
          apps: dataspammer
          scoop_update: 'true'
          scoop_checkup: 'true'
          update_path: 'true'