name: Dataspammer Functionality Test

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read
  
jobs:
  Debug-Test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Verify Git Installation
        run: |
          git --version

      - name: Clone Repository and Checkout PR Branch
        run: |
          git clone https://github.com/PIRANY1/DataSpammer
          cd DataSpammer
          git fetch origin ${{ github.event.pull_request.head.ref }}
          git checkout ${{ github.event.pull_request.head.ref }}

      - name: Run DataSpammer Debug Test
        run: |
          cd DataSpammer
          cmd.exe /c ${{ github.workspace }}\DataSpammer\dataspammer.bat debugtest /v /b /unsecure

      - name: Install Scoop
        uses: MinoruSekine/setup-scoop@v4.0.2
        if: ${{ always() }}

      - name: Install DataSpammer Bucket
        run: scoop bucket add dts-bucket https://github.com/PIRANY1/dataspammer-bucket

      - name: Install DataSpammer
        run: scoop install dataspammer

      - name: Run DataSpammer
        run: dataspammer.bat
